/* Coolors Exported Palette - https://coolors.co/65fc4a-656c78-c7b7c8-ec4f47-ffffff-fafbfb-824c27-f6c2bd-83832d-f5a89a */

/* CSS HEX */
--neon-green: #65FC4Aff;
--paynes-gray: #656C78ff;
--thistle: #C7B7C8ff;
--vermilion: #EC4F47ff;
--white: #FFFFFFff;
--seasalt: #FAFBFBff;
--russet: #824C27ff;
--tea-rose-red: #F6C2BDff;
--olive: #83832Dff;
--melon: #F5A89Aff;

/* CSS HSL */
--neon-green: hsla(111, 97%, 64%, 1);
--paynes-gray: hsla(218, 9%, 43%, 1);
--thistle: hsla(296, 13%, 75%, 1);
--vermilion: hsla(3, 81%, 60%, 1);
--white: hsla(0, 0%, 100%, 1);
--seasalt: hsla(180, 11%, 98%, 1);
--russet: hsla(24, 54%, 33%, 1);
--tea-rose-red: hsla(5, 76%, 85%, 1);
--olive: hsla(60, 49%, 35%, 1);
--melon: hsla(9, 82%, 78%, 1);

/* SCSS HEX */
$neon-green: #65FC4Aff;
$paynes-gray: #656C78ff;
$thistle: #C7B7C8ff;
$vermilion: #EC4F47ff;
$white: #FFFFFFff;
$seasalt: #FAFBFBff;
$russet: #824C27ff;
$tea-rose-red: #F6C2BDff;
$olive: #83832Dff;
$melon: #F5A89Aff;

/* SCSS HSL */
$neon-green: hsla(111, 97%, 64%, 1);
$paynes-gray: hsla(218, 9%, 43%, 1);
$thistle: hsla(296, 13%, 75%, 1);
$vermilion: hsla(3, 81%, 60%, 1);
$white: hsla(0, 0%, 100%, 1);
$seasalt: hsla(180, 11%, 98%, 1);
$russet: hsla(24, 54%, 33%, 1);
$tea-rose-red: hsla(5, 76%, 85%, 1);
$olive: hsla(60, 49%, 35%, 1);
$melon: hsla(9, 82%, 78%, 1);

/* SCSS RGB */
$neon-green: rgba(101, 252, 74, 1);
$paynes-gray: rgba(101, 108, 120, 1);
$thistle: rgba(199, 183, 200, 1);
$vermilion: rgba(236, 79, 71, 1);
$white: rgba(255, 255, 255, 1);
$seasalt: rgba(250, 251, 251, 1);
$russet: rgba(130, 76, 39, 1);
$tea-rose-red: rgba(246, 194, 189, 1);
$olive: rgba(131, 131, 45, 1);
$melon: rgba(245, 168, 154, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #65FC4Aff, #656C78ff, #C7B7C8ff, #EC4F47ff, #FFFFFFff, #FAFBFBff, #824C27ff, #F6C2BDff, #83832Dff, #F5A89Aff);
$gradient-right: linear-gradient(90deg, #65FC4Aff, #656C78ff, #C7B7C8ff, #EC4F47ff, #FFFFFFff, #FAFBFBff, #824C27ff, #F6C2BDff, #83832Dff, #F5A89Aff);
$gradient-bottom: linear-gradient(180deg, #65FC4Aff, #656C78ff, #C7B7C8ff, #EC4F47ff, #FFFFFFff, #FAFBFBff, #824C27ff, #F6C2BDff, #83832Dff, #F5A89Aff);
$gradient-left: linear-gradient(270deg, #65FC4Aff, #656C78ff, #C7B7C8ff, #EC4F47ff, #FFFFFFff, #FAFBFBff, #824C27ff, #F6C2BDff, #83832Dff, #F5A89Aff);
$gradient-top-right: linear-gradient(45deg, #65FC4Aff, #656C78ff, #C7B7C8ff, #EC4F47ff, #FFFFFFff, #FAFBFBff, #824C27ff, #F6C2BDff, #83832Dff, #F5A89Aff);
$gradient-bottom-right: linear-gradient(135deg, #65FC4Aff, #656C78ff, #C7B7C8ff, #EC4F47ff, #FFFFFFff, #FAFBFBff, #824C27ff, #F6C2BDff, #83832Dff, #F5A89Aff);
$gradient-top-left: linear-gradient(225deg, #65FC4Aff, #656C78ff, #C7B7C8ff, #EC4F47ff, #FFFFFFff, #FAFBFBff, #824C27ff, #F6C2BDff, #83832Dff, #F5A89Aff);
$gradient-bottom-left: linear-gradient(315deg, #65FC4Aff, #656C78ff, #C7B7C8ff, #EC4F47ff, #FFFFFFff, #FAFBFBff, #824C27ff, #F6C2BDff, #83832Dff, #F5A89Aff);
$gradient-radial: radial-gradient(#65FC4Aff, #656C78ff, #C7B7C8ff, #EC4F47ff, #FFFFFFff, #FAFBFBff, #824C27ff, #F6C2BDff, #83832Dff, #F5A89Aff);